.my-popup-style .leaflet-popup-content-wrapper {
  background: rgb(233, 230, 230);
  color: #000000;
}
.my-popup-style .popup-section {
  background: rgb(233, 230, 230);
  color: #000000;
}
.my-popup-style-route .leaflet-popup-content-wrapper {
  background: rgb(233, 230, 230);
  color: #000000;
}
.heatmap-checkbox {
  position: fixed;
  left: 10%; /* Change this value to adjust the horizontal position */
  top: 10%; /* Change this value to adjust the vertical position */
}