.my-popup-style .leaflet-popup-content-wrapper {
  background: rgb(233, 230, 230);
  color: #000000;
}
.my-popup-style .popup-section {
  background: rgb(233, 230, 230);
  color: #000000;
}
.my-popup-style-route .leaflet-popup-content-wrapper {
  background: rgb(233, 230, 230);
  color: #000000;
}
.heatmap-checkbox {
  position: fixed;
  left: 10px; /* Ändern Sie diesen Wert, um die horizontale Position anzupassen */
  top: 10px; /* Ändern Sie diesen Wert, um die vertikale Position anzupassen */
}